      </div><%# .app-content %>
      <footer class="footer">
        <div class="footer-item">
          <a class="footer-link" href="/page/about">About</a>
        </div>
        <div class="footer-item">
          <a class="footer-link" href="http://thenew.fr">thenew.fr</a>
        </div>
      </footer>
    </div>
    <script src="/public/js/client.js" type="module"></script>
  </body>
</html>
