<div class="grid-item">
    <div class="ratio-box">
        <div class="ratio-box-inner">
            <a class="item" href="/<%= key %>">
                <div class="item-image"><%- include('../'+flag.src) %></div>
                <div class="item-title"><%- flag.title %></div>
                <% if(typeof flag.ratios !== `undefined` && flag.ratios.length) { %>
                    <div class="item-note"><%- flag.ratios[0] %></div>
                <% } %>
            </a>
        </div>
    </div>
</div>