<!DOCTYPE html>
<html lang="en">
  <title>Sarapis <%= title %></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="The best SVG flags" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@remybarthez" />
  <meta name="twitter:creator" content="@remybarthez" />
  <meta name="twitter:title" content="thenew" />
  <meta name="twitter:description" content="The best SVG flags" />
  <meta property="og:title" content="Sarapis" />
  <meta property="og:description" content="The best SVG flags" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Sarapis" />
  <meta property="og:image" content="<%= typeof image != 'undefined' ? image : 'http://' + domain + '/public/app-icons/favicon.svg' %>">
  <meta property="og:url" content="http://<%= domain %>">
  <link rel="icon" href=<%= typeof favicon != 'undefined' ? favicon : './public/app-icons/favicon.svg' %> />
  <link rel="logo" type="image/svg+xml" href="./public/app-icons/favicon.svg" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content=" black-translucent" />
  <meta name="msapplication-TileColor" content="#848D95" />
  <meta name="theme-color" content="#848D95" />
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6617898/7632612/css/fonts.css" />
  <link href="./public/css/0-main.css" rel="stylesheet" />
  <link rel="preload" href="./public/fonts/noto-serif-v8-latin-regular.woff2" as="font">
  <body>
    <div class="app page ">
      <a class="skip-link" href="#maincontent">Skip to main</a>
      <header class="header">
        <a class="header-link" href="/">
          <span class="sr-only">Sarapis</span>
          <svg width="175" height="16" viewBox="0 0 175 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0" width="25" height="16" fill="#0D8CFF"/>
            <rect x="25" width="25" height="16" fill="#0C46E8"/>
            <rect x="50" width="25" height="16" fill="#0000FF"/>
            <rect x="75" width="25" height="16" fill="#480CE8"/>
            <rect x="100" width="25" height="16" fill="#910DFF"/>
            <rect x="125" width="25" height="16" fill="#480CE8"/>
            <rect x="150" width="25" height="16" fill="#0000FF"/>
          </svg>
        </a>
      </header>
      <div class="app-content">
