<div class="marquee">
    <marquee>
        <div class="marquee-marc">
            <a class="link" href="/page/about">>> What is this?</a>        
            >> Sarapis SVG Flags library 1.0.0 WIP >> responsive SVG. >> optimised SVG, >> accessible SVG. >> Easy to read code or minified versions. >> Official. >> Handmade to respect ratios and colors.
        </div>
    </marquee>
</div>