<div class="marquee">
    <div>
        >> SVG Flags library. >> responsive SVG. >> optimised SVG, >> accessible SVG. >> Easy to read code or minified versions. >> Official. >> Handmade to respect ratios and colors.
    </div>
</div>