<div class="marquee">
    <marquee scrolldelay="60">
        <div class="marquee-marc">
            <a class="marquee-item link" href="/page/about">>> What is this?</a>        
            <span class="marquee-item">>> Sarapis SVG Flags library 1.0.0 WIP</span>
            <span class="marquee-item">>> Accessible</span>
            <span class="marquee-item">>> Responsive</span>
            <span class="marquee-item">>> optimised SVG</span>
            <span class="marquee-item">>> Easy to read code or minified versions</span>
            <span class="marquee-item">>> Handmade to respect ratios and colors</span>
            <span class="marquee-item">>> Follow the official guidelines</span>
        </div>
    </marquee>
</div>