    </div>
    <footer class="footer">
      <div class="footer-item">
        <a class="footer-link" href="http://thenew.fr">thenew.fr</a>
      </div>
    </footer>
    <script src="./public/js/client.min.js"></script>
  </body>
</html>
