<%- include('_header', {title: ''}) %>
<div>
  <%- include('../templates/filters.ejs', {data}); %>
  <div class="grid">
    <% Object.keys(data.flags).forEach(function(key){ %>
      <% if (data.flags[key].src) { %>
        <%- include('../templates/gridItem.ejs', {key, flag: data.flags[key]}); %>
      <% } %>
    <% }); %>
  </div>
</div>
<script>
  const grid = document.querySelector('.grid');
  const gridItems = document.querySelectorAll('.grid-item');
  const form = document.querySelector('.filters');
  const formCheckboxes = document.querySelectorAll('.filters input[type="checkbox"]');
  const gridSizeInput = document.querySelector('.filters-grid-size');
  const searchInput = document.querySelector('.search-input');

  // init
  gridSize(gridSizeInput.value);

  gridSizeInput.oninput = function(event) { 
    gridSize(this.value);
  }


  form.addEventListener('submit', function(event) {
    // event.preventDefault();
// construct a FormData object, which fires the formdata event
    // const formData = new FormData(form);
    // const searchParams = new URLSearchParams(formData);
    // updateUrl(searchParams)
    // const queryString = searchParams.toString();
    // console.log('queryString: ', queryString)
  })

  // searchInput.addEventListener('keydown', function(event) {

  // })

  formCheckboxes.forEach(function(input) {
    console.log('input: ', input)
    input.addEventListener('change', function(event) { 
      console.log('formCheckboxes event: ', event)
      form.requestSubmit()
    })
  })

  function gridSize(value) {
    var index = 0, length = gridItems.length;
    for ( ; index < length; index++) {
      gridItems[index].style.flexBasis = value+'%'
      gridItems[index].style.fontSize = value/10+'vw'
    }
  }

  function updateUrl(searchParams) {
    // const params = new URLSearchParams(location.search);
    // params.appendAll(searchParams);
    window.history.replaceState({}, '', `${location.pathname}?${searchParams}`);

    // const items = {}
    // console.log('items: ', items)
    // console.log('ejs: ', ejs)
    // const people = ['geddy', 'neil', 'alex']
    // const html = ejs.render('%= people.join(", "); %>', {people: people})
  
    // console.log('html: ', html)
    // grid.innerHTML = `test`
  }
</script>
<%- include _footer %>
