@import '1-base.css';
@import '2-fonts.css';
@import '3-ui.css';
@import '4-layout.css';
@import 'marquee.css';
@import 'filters.css';

:root {
  --color1: #00f;
  --color1Dark: #000080;
  --color1Light: #0D8CFF;
  --color2: #4FFF19;
  --color3: #910DFF;
  --color4: #ff0;
  --colorCopy: #111;
  --colorBg: #eee;

  --titleFont: "Idlewild SSm A", "Idlewild SSm B", Idlewild, monospace;
  --titleFontLight: 400;
  --titleFontNormal: 600;
  --titleFontBold: 800;
  --bodyFont: "Noto Serif", sans-serif;

  --ease: cubic-bezier(.17,.67,.83,.67);

  --padding: 60px;
  --paddingHalf: 15px;
  --paddingDouble: 60px;

  --mobileButtonHeight: 35px;
}

@media (max-width: 1320px) {
  :root {
    --padding: 30px;
    --paddingHalf: 15px;
    --paddingDouble: 60px;
  }
}

@media (max-width: 768px) {
  :root {
    --padding: 20px;
    --paddingHalf: 10px;
    --paddingDouble: 40px;
  }
}

/* Grid */

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 1px);
  font-family: var(--titleFont);
}

.grid-item {
  flex-basis: 25%;
  /* border: 1px solid var(--color1); */
  box-shadow: 
    1px 0 0 0 var(--color1), 
    0 1px 0 0 var(--color1), 
    1px 1px 0 0 var(--color1),   /* Just to fix the corner */
    1px 0 0 0 var(--color1) inset, 
    0 1px 0 0 var(--color1) inset;
  background-color: #E5E5E5;
}

@media (max-width: 768px) {
  .grid-item {
    flex-basis: 50%;
  }
}

.grid.grow .grid-item {
  flex-grow: 1;
}

.ratio-box {
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
.ratio-box-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Home */

.item {
  --gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  padding: 20px 30px 30px 30px;
}

.item-image {
  width: 100%;
  border: 0 solid black;
  transition: border .1s var(--ease);
}

.item:focus .item-image,
.item:hover .item-image {
  border-width: 8px;

}

.item-title {
  position: absolute;
  bottom: calc(var(--gap) - 3px);
  left: var(--gap);
  width: calc(100% - (var(--gap) * 2));
  font-weight: var(--titleFontBold);
  line-height: 1;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 1px var(--colorBg);
}

.item-note {
  position: absolute;
  top: var(--gap);
  right: var(--gap);
  /* width: calc(100% - (var(--gap) * 2)); */
  font-size: 60%;
  font-weight: var(--titleFontLight);
  color: #888;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* text-shadow: 1px -1px var(--colorBg); */
  transform: rotate(90deg) translate(100%, 0%);
  transform-origin: 100% 0%;
}

.page-title-box {
  font-family: var(--titleFont);
  font-weight: var(--titleFontBold);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  box-shadow: 
    1px 0 0 0 var(--color1), 
    0 1px 0 0 var(--color1), 
    1px 1px 0 0 var(--color1),   /* Just to fix the corner */
    1px 0 0 0 var(--color1) inset, 
    0 1px 0 0 var(--color1) inset;
}

.page-title-flag {
  width: 320px;
  height: 260px;
  padding: 10px;
  box-shadow: 
    1px 0 0 0 var(--color1), 
    0 1px 0 0 var(--color1), 
    1px 1px 0 0 var(--color1),   /* Just to fix the corner */
    1px 0 0 0 var(--color1) inset, 
    0 1px 0 0 var(--color1) inset;
}

.page-title {
  padding: 10px 30px;
  font-size: 30px;
  line-height: 1;
  transform: translate(-2px, 1px);
}

/* Single */

.single-layout {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: var(--titleFont);
}

.single-layout .grid-item {
  flex-basis: 50%;
  flex-shrink: 0;
}

.single-layout .sidebar {
  /* flex-basis: 25%; */
  flex-grow: 1;
}

.srp-box {
  box-shadow: 
    1px 0 0 0 var(--color1), 
    0 1px 0 0 var(--color1), 
    1px 1px 0 0 var(--color1),   /* Just to fix the corner */
    1px 0 0 0 var(--color1) inset, 
    0 1px 0 0 var(--color1) inset;
}

.srp-box-header {
  font-family: var(--titleFont);
  line-height: 1;
  padding: 10px;
  box-shadow: 
    1px 0 0 0 var(--color1), 
    0 1px 0 0 var(--color1), 
    1px 1px 0 0 var(--color1),   /* Just to fix the corner */
    1px 0 0 0 var(--color1) inset, 
    0 1px 0 0 var(--color1) inset;
}

.srp-box-header .text {
  transform: translate(-2px, 1px);
}

.srp-box-content {
  padding: 20px 10px;
  box-shadow: 
    1px 0 0 0 var(--color1), 
    0 1px 0 0 var(--color1), 
    1px 1px 0 0 var(--color1),   /* Just to fix the corner */
    1px 0 0 0 var(--color1) inset, 
    0 1px 0 0 var(--color1) inset;
}

.srp-box-content:not(.pre) {
  font-family: var(--bodyFont);
}

.single-layout pre {
  color: var(--color1Light);
  padding: 30px 10px;
  background-color: var(--color1Dark);
}

.spec-title {
  font-weight: bold;
}

.colors {
  display: inline-flex;
}

.color {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  height: 15px;
  font-family: var(--titleFont);
  font-size: 10px;
  line-height: 1;
  border-width: 1px;
  border-style: solid;
  margin-right: 5px;
}

.color-swatch {
  display: inline-block;
  margin-right: 2px;
  width: 15px;
  height: 15px;
}

.color-label {
  padding: 0 2px;
}

.flags-all {
  position: relative;
  width: 100%;
  height: 100%;
}

.flags-all .flag {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.flags-all circle,
.flags-all path {
  fill: transparent;
  stroke-width: 1%;
}