@import "1-base.css";
@import "2-fonts.css";
@import "3-ui.css";
@import "4-layout.css";
@import "marquee.css";
@import "filters.css";

:root {
  /* abstract */
  --blue: #00f;
  --white: #fff;
  --black: #111;
  --grey: #888;

  --color1: #00f;
  --color1Dark: #000080;
  --color1Light: #0d8cff;
  --color2: #4fff19;
  --color3: #910dff;
  --color4: #ff0;
  --colorCopy: #111;
  --colorBg: #eee;

  --titleFont: "Idlewild SSm A", "Idlewild SSm B", Idlewild, monospace;
  --titleFontLight: 400;
  --titleFontNormal: 600;
  --titleFontBold: 800;
  /* --bodyFont: "Noto Serif", sans-serif; */
  /* --bodyFont: "Decimal A", "Decimal B", sans-serif; */
  --bodyFont: "Gotham SSm A", "Gotham SSm B", sans-serif;
  --bodyFontNormal: 400;

  --ease: cubic-bezier(0.25, 1, 0.25, 1);

  --padding: 60px;
  --paddingHalf: 15px;
  --paddingDouble: 60px;

  --fieldsetHeight: 36px;
  --mobileButtonHeight: 35px;
}

@media (max-width: 1320px) {
  :root {
    --padding: 30px;
    --paddingHalf: 15px;
    --paddingDouble: 60px;
  }
}

@media (max-width: 768px) {
  :root {
    --padding: 20px;
    --paddingHalf: 10px;
    --paddingDouble: 40px;
  }
}

.js-ready * {
  transition: color 8s ease, box-shadow 8s ease;
}

.link {
  color: var(--color1);
  font-weight: var(--titleFontLight);
  text-decoration: underline;
  text-underline-offset: 3px;
  /* text-decoration-color: inherit; */
}

.link:focus,
.link:hover {
  color: var(--color1Light);
  text-underline-offset: 2px;
}

/* Grid */

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 1px);
  font-family: var(--titleFont);
}

.grid-item {
  flex-basis: 25%;
  /* border: 1px solid var(--color1); */
  box-shadow: 1px 0 0 0 var(--color1), 0 1px 0 0 var(--color1),
    1px 1px 0 0 var(--color1),
    /* Just to fix the corner */ 1px 0 0 0 var(--color1) inset,
    0 1px 0 0 var(--color1) inset;
  background-color: #e5e5e5;
}

@media (max-width: 768px) {
  .grid-item {
    flex-basis: 50%;
  }
}

.grid.grow .grid-item {
  flex-grow: 1;
}

/* .grid.grow .grid-item.hidden:last-child {
  flex-grow: 10;
} */

.ratio-box {
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
.ratio-box-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Home */

.item {
  --gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  padding: 8% 12% 12% 12%;
  transition: padding 0.3s var(--ease), background 0.5s var(--ease);
}

/* .item:focus,
.item:hover {
} */

.item[href]:focus,
.item[href]:hover {
  padding: 5% 5% 10% 5%;
  background-color: var(--color3);
  transition: padding 0.3s var(--ease), background 100s var(--ease);
}

.item-image {
  width: 100%;
  border: 0 solid black;
  transition: border 0.1s var(--ease);
}

.item-title {
  position: absolute;
  bottom: calc(var(--gap) - 3px);
  left: var(--gap);
  width: calc(100% - (var(--gap) * 2));
  font-weight: var(--titleFontBold);
  line-height: 1;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 1px var(--colorBg);
  transition: transform 0.3s var(--ease), opacity 0.3s var(--ease),
    text-shadow 0.3s var(--ease);
}

@media (max-width: 768px) {
  .item-title {
    font-size: 140%;
  }
}

.item:focus .item-title,
.item:hover .item-title {
  opacity: 0.4;
  text-shadow: 1px 1px rgba(255, 255, 255, 0);
  transform: translateY(25%);
}

.item-note {
  position: absolute;
  top: calc(var(--gap) / 1.5);
  right: calc(var(--gap) / 2);
  /* width: calc(100% - (var(--gap) * 2)); */
  font-size: 60%;
  font-weight: var(--titleFontLight);
  color: var(--grey);
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* text-shadow: 1px -1px var(--colorBg); */
  transform: rotate(90deg) translate(100%, 0%);
  transform-origin: 100% 0%;
  transition: transform 0.3s var(--ease);
}

@media (max-width: 768px) {
  .item-note {
    font-size: 100%;
  }
}

@media (min-width: 1000px) {
  .item-note {
    top: 3%;
    right: 3%;
  }
}

.item:focus .item-note,
.item:hover .item-note {
  transform: rotate(90deg) translate(100%, -200%);
}

.page-title-box {
  position: relative;
  font-family: var(--titleFont);
  font-weight: var(--titleFontBold);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  box-shadow: 1px 0 0 0 var(--color1), 0 1px 0 0 var(--color1),
    1px 1px 0 0 var(--color1),
    /* Just to fix the corner */ 0 1px 0 0 var(--color1) inset;
  overflow: hidden;
}

@media (max-width: 768px) {
  .page-title-box {
    flex-direction: column;
    align-items: center;
  }
}

.page-title-box-with-flags {
  padding: 40px 20px 40px 30px;
}

@media (max-width: 768px) {
  .page-title-box-with-flags {
    padding: 20px 0;
  }
}

.page-title-flag {
  position: absolute;
  top: 50%;
  left: 0;
  width: 90%;
  height: 0;
  padding-bottom: 33%;
  opacity: 0.8;
  transform: translate(0%, -50%);
}

@media (max-width: 768px) {
  .page-title-flag {
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.page-title {
  max-width: 100%;
  word-wrap: break-word;
  padding: 10px 30px;
  font-size: 30px;
  line-height: 1;
  transform: translate(-2px, 1px);
  text-shadow: 1px 1px var(--colorBg);
}

@media (max-width: 768px) {
  .page-title {
    padding: 20px 10px;
    text-align: center;
  }

  /* .page-about .page-title {
    padding: 20px 10px;
  } */
}

.no-content {
  font-family: var(--titleFont);
  font-weight: var(--titleFontBold);
  font-size: 30px;
  text-align: center;
  margin: 200px auto 400px;
}

/* Single */

.single-layout {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: var(--titleFont);
}

.single-layout .grid-item {
  flex-basis: 55%;
  flex-shrink: 0;
  flex-grow: 1;
}

.single-sidebar {
  flex-basis: 45%;
  max-width: 45%;
}

@media (min-width: 1000px) {
  .single-sidebar {
    flex-basis: 450px;
  }
}

@media (min-width: 1300px) {
  .single-sidebar {
    flex-basis: 550px;
  }
}

@media (max-width: 768px) {
  .single-layout {
    flex-wrap: wrap;
  }

  .single-layout .grid-item {
    flex-basis: 100%;
  }

  .single-sidebar {
    max-width: 100%;
  }
}

.srp-box {
  text-align: start;
  box-shadow: 1px 0 0 0 var(--color1), 0 1px 0 0 var(--color1),
    1px 1px 0 0 var(--color1),
    /* Just to fix the corner */ 1px 0 0 0 var(--color1) inset,
    0 1px 0 0 var(--color1) inset;
}

.srp-box-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-family: var(--titleFont);
  font-size: 16px;
  line-height: 1;
  padding: 10px;
  box-shadow: 1px 0 0 0 var(--color1), 0 1px 0 0 var(--color1),
    1px 1px 0 0 var(--color1),
    /* Just to fix the corner */ 1px 0 0 0 var(--color1) inset,
    0 1px 0 0 var(--color1) inset;
}

.srp-box-header .text {
  transform: translate(-2px, 1px);
}

.srp-box-header .side {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 100%;
  font-size: 50%;
  font-weight: var(--titleFontLight);
}

.srp-box-content {
  padding: 20px 10px;
  word-wrap: break-word;
  box-shadow: 1px 0 0 0 var(--color1), 0 1px 0 0 var(--color1),
    1px 1px 0 0 var(--color1),
    /* Just to fix the corner */ 1px 0 0 0 var(--color1) inset,
    0 1px 0 0 var(--color1) inset;
}

.srp-box-content-specs,
.srp-box-content-copy {
  font-family: var(--bodyFont);
  font-weight: var(--bodyFontNormal);
}

.srp-box-content-variants {
  padding: 0;
}

.srp-box-content-specs {
  padding: 1px;
}

.single-layout pre {
  color: var(--color1Light);
  padding: 30px 10px;
  background-color: var(--color1Dark);
}

.spec-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.spec-item:first-of-type {
  padding-top: 14px;
}

.spec-item:last-of-type {
  padding-bottom: 14px;
}

.spec-item:nth-child(even) {
  background-color: #ddd;
}

.spec-title {
  flex-basis: 20%;
  flex-shrink: 0;
  margin-right: 10px;
  font-weight: bold;
}

.spec-value {
  display: inline-block;
}

.spec-value-colors {
  line-height: 0;
}

.colors-list {
  display: inline-flex;
  flex-wrap: wrap;
  line-height: 0;
  margin-top: -10px;
}

.colors-item {
  display: block;
  line-height: 0;
}

.color {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  height: 15px;
  font-family: var(--titleFont);
  font-weight: var(--titleFontNormal);
  font-size: 10px;
  line-height: 1;
  margin-right: 10px;
  margin-top: 10px;
}

.color-swatch {
  display: inline-block;
  margin-right: 2px;
  width: 15px;
  height: 15px;
  transition: transform 0.2s var(--ease);
}

.color-swatch:focus,
.color-swatch:hover {
  transform: scale(1.2);
}

.color-swatch:focus ~ .color-label,
.color-swatch:hover ~ .color-label {
  text-decoration: underline;
}

.color-label {
  padding: 0 2px;
}

.variants-list {
  display: flex;
  flex-wrap: wrap;
}

.variants-list .grid-item {
  flex-basis: 25%;
  max-width: calc(100% / 3);
}

/* flag all */
.flags-all {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flags-all .flag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.flags-all .flag svg {
  height: 100%;
}

@media (max-width: 768px) {
  .flags-all .flag {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .flags-all .flag svg {
    margin-right: auto;
    margin-left: auto;
  }
}

.flags-all use,
.flags-all rect,
.flags-all circle,
.flags-all path {
  fill: transparent;
  stroke-width: 1%;
  stroke-width: 0.1%;
}

/* Page */

.page-about {
  --color1: var(--white);
  color: var(--white);
  background-color: var(--blue);
}

.page-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page-layout .srp-box {
  width: 100%;
  max-width: 900px;
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 30px;
}

@media (max-width: 900px) {
  .page-layout .srp-box {
    max-width: calc(100% - 60px);
  }
}
@media (max-width: 768px) {
  .page-layout .srp-box {
    max-width: calc(100% - 20px);
    margin-top: 20px;
  }
}

/* Animations */

.js-animate g,
.js-animate rect,
.js-animate circle,
.js-animate path {
  transition: transform 0.4s var(--ease), opacity 0.4s var(--ease);
}
