/* Idlewild */
@font-face {
    font-family: Idlewild;
    src: local('Idlewild'),
      url('../fonts/Idlewild-Medium.otf') format('otf');
    /* unicode-range: U+000-5FF; Latin glyphs */
    font-display: swap;
}

@font-face {
    font-family: Idlewild;
    src: local('Idlewild'),
      url('../fonts/Idlewild-Bold.otf') format('otf');
    /* unicode-range: U+000-5FF; Latin glyphs */
    font-display: swap;
    font-weight: 700;
}

@font-face {
    font-family: Idlewild;
    src: local('Idlewild'),
      url('../fonts/Idlewild-Light.otf') format('otf');
    /* unicode-range: U+000-5FF; Latin glyphs */
    font-display: swap;
    font-weight: 100;
}

/* Noto Serif */
@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif'),
      url('../fonts/noto-serif-v8-latin-regular.woff2') format('woff2');
    font-display: swap;
}