/* Idlewild */
/* font-family: "Idlewild SSm A", "Idlewild SSm B"; */

/* Noto Serif */
/* @font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif'),
      url('../fonts/noto-serif-v8-latin-regular.woff2') format('woff2');
    font-display: swap;
} */