/* Checkbox */

.checkbox-boxes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkbox-box {
  position: relative;
  min-width: 25px;
  height: 16px;

  --border-shadow:
    1px 0 0 0 var(--color1), 
    0 1px 0 0 var(--color1), 
    1px -1px 0 0 var(--color1),   /* Just to fix the corner */
    1px 1px 0 0 var(--color1),   /* Just to fix the corner */
    1px 0 0 0 var(--color1) inset, 
    0 -1px 0 0 var(--color1);
}

@media (max-width: 768px) {
  .checkbox-box {
    min-width: var(--mobileButtonHeight);
    height: var(--mobileButtonHeight);
  }
}

.checkbox-boxes.colors .checkbox-box {
  width: 25px;
}

@media (max-width: 768px) {
  .checkbox-boxes.colors .checkbox-box {
    width: auto;
  }
}

.checkbox-box .label {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1px 5px;
  font-size: 10px;
  cursor: pointer;
  box-shadow: var(--border-shadow);
}

@media (max-width: 768px) {
  .checkbox-box .label {
    padding: 5px 10px;
    min-width: 40px;
  } 
}

.label::after {
  content: '^';
  display: block;
  position: absolute;
  top: calc(100% + 1px);
  right: 0;
  left: 0;
  color: var(--color1);
  text-align: center;
  font-size: 8px;
  transform: scaleX(2.5);
  opacity: 0;
}

.checkbox-box .checkbox:focus ~ .label::after,
.checkbox-box .label:focus::after,
.checkbox-box .label:hover::after {
  opacity: 1;
}

.checkbox-boxes.colors .checkbox-box .label {
  box-shadow: none;
}

.checkbox-boxes.colors .checkbox-box .checkbox:not(:checked):focus ~ .label::after,
.checkbox-boxes.colors .checkbox-box .checkbox:not(:checked) ~ .label:focus::after,
.checkbox-boxes.colors .checkbox-box .checkbox:not(:checked) ~ .label:hover::after {
  opacity: 0;
}

.checkbox-boxes.colors .checkbox-box .checkbox:focus ~ .label,
.checkbox-boxes.colors .checkbox-box .label:focus,
.checkbox-boxes.colors .checkbox-box .label:hover {
  z-index: 2;
  box-shadow: var(--border-shadow);
}

.checkbox-box .label-initial {
  user-select: none;
}

.checkbox-box.dark .label-initial {
  color: #fff;
}

.checkbox-box .checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  appearance: none;
  opacity: 0;
  z-index: -1;
}

.checkbox-box .checkbox:checked ~ .label {
  z-index: 2;
  box-shadow: var(--border-shadow);
  color: #fff;
  background-color: var(--color1);
}

.checkbox-boxes.colors .checkbox-box .checkbox:checked ~ .label {
  color: initial;
  background-color: initial;
}

.checkbox-box .checkbox:checked ~ .label::after {
  opacity: 1;
}

/* Input range */

input[type="range"] {
  -webkit-appearance: none;
  margin: 0;
  background: none;
}

input[type="range"]:focus {
  outline: 1px solid var(--color2);
}

/* Tracker */

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: var(--color1);
  border: 0;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--color1Dark);
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: var(--color1);
  border: 0;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: var(--color1);
  border: 0;
}

input[type="range"]::-ms-fill-upper {
  background: var(--color1);
  border: 0;
}

input[type="range"]:focus::-ms-fill-lower {
  background: var(--color1Dark);
}

input[type="range"]:focus::-ms-fill-upper {
  background: var(--color1Dark);
}

/* Thumb */

input[type="range"]::-webkit-slider-thumb {
  border: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--color1);
  cursor: pointer;
  -webkit-appearance: none;
  /* margin-top: -4px; */
  transform: translateY(-50%);
}

input[type="range"]::-moz-range-thumb {
  border: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--color1);
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  border: 1px solid #000000;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--color1);
  cursor: pointer;
}

@media (max-width: 768px) {
  input[type="range"] {
    height: var(--mobileButtonHeight);
  }
  
  input[type="range"]::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
  }

  input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
  }

  input[type="range"]::-ms-thumb {
    width: 15px;
    height: 15px;
  }
}

/* todo */

.todo-list {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 90%;
}

.todo-item {
  display: flex;
  align-items: baseline;
  margin-left: 20px;
}

.todo-item + .todo-item {
  margin-top: 5px;
}

.todo-item::before {
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  box-shadow: 0 0 0 1px currentColor;
  line-height: 8px;
}

.todo-item.done {
  /* opacity: .9; */
}

.todo-item.done::before {
  content: '✓';
  /* background-color: currentColor; */
}