
/* Layout */
.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    font-family: var(--bodyFont);
    font-size: 20px;
    color: var(--colorCopy);
    background-color: var(--colorBg);
  }
  
  ::selection {
    color: var(--colorCopy);
    background: var(--color2);
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
    min-height: 60px;
    padding: var(--paddingHalf) var(--padding);
    font-family: var(--titleFont);
    /* border-bottom: 1px solid var(--color1); */
  }
  
  .footer {
    /* border-top: 1px solid var(--color1); */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: var(--paddingHalf) var(--padding);
    font-family: var(--titleFont);
    font-size: 0;
  }
  /* 
  @media (max-width: 1320px) {
    .footer {
      padding: var(--padding);
    }
  } */
  
  .footer-item + .footer-item::before {
    content: '–';
    display: inline-block;
    margin: 0 var(--paddingHalf);
  }
  
  .footer-link,
  .footer-item::before {
    font-size: 14px;
    opacity: .2;
    transition: opacity .2s var(--ease);
  }
  
  .footer-link:focus,
  .footer-link:hover {
    opacity: 1;
    text-decoration: underline;
  }
  
  .app-content {
    flex-grow: 1;
    width: 100%;
  }
  