@import 'base.css';
@import 'ui.css';
@import 'marquee.css';

@font-face {
  font-family: Idlewild;
  src: local('Idlewild'),
    /* url('../fonts/silka-regular-webfont.woff2') format('woff2'); */
    url('../fonts/Idlewild-Medium.otf') format('otf');
  unicode-range: U+000-5FF; /* Latin glyphs */
  font-display: swap;
}

:root {
  --color1: #00f;
  --color1Dark: #000080;
  --color1Light: #0D8CFF;
  --color2: #4FFF19;
  --color3: #910DFF;
  --colorCopy: #111;

  --titleFont: Idlewild, monospace;
  --bodyFont: Roboto, sans-serif;

  --ease: cubic-bezier(.17,.67,.83,.67);

  --padding: 60px;
  --paddingHalf: 15px;
  --paddingDouble: 60px;

  --mobileButtonHeight: 35px;
}

@media (max-width: 1320px) {
  :root {
    --padding: 30px;
    --paddingHalf: 15px;
    --paddingDouble: 60px;
  }
}

@media (max-width: 768px) {
  :root {
    --padding: 20px;
    --paddingHalf: 10px;
    --paddingDouble: 40px;
  }
}

/* Layout */
.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  font-family: var(--titleFont);
  font-size: 20px;
  color: var(--colorCopy);
  background-color:#eee;
  cursor: url(../images/cursor.svg) 5 5, default;
  cursor: -webkit-image-set(url(../images/cursor.svg) 1x,
    url(../images/cursor.svg) 2x) 5 5, default;
}

a:hover {
  cursor: url(../images/cursor-hover.svg) 5 5, default;
  cursor: -webkit-image-set(url(../images/cursor-hover.svg) 1x,
    url(../images/cursor-hover.svg) 2x) 5 5, default;
}

::selection {
  color: var(--colorCopy);
  background: var(--color2);
}


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  min-height: 60px;
  padding: var(--paddingHalf) var(--padding);
  /* border-bottom: 1px solid var(--color1); */
}

.footer {
  /* border-top: 1px solid var(--color1); */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: var(--paddingHalf) var(--padding);
  font-size: 0;
}
/* 
@media (max-width: 1320px) {
  .footer {
    padding: var(--padding);
  }
} */

.footer-item + .footer-item::before {
  content: '–';
  display: inline-block;
  margin: 0 var(--paddingHalf);
}

.footer-link,
.footer-item::before {
  font-size: 14px;
  opacity: .2;
  transition: opacity .2s var(--ease);
}

.footer-link:focus,
.footer-link:hover {
  opacity: 1;
  text-decoration: underline;
}

.app-content {
  flex-grow: 1;
  width: 100%;
}


/* Grid */

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(100% - 1px);
}

.grid-item {
  flex-basis: 25%;
  /* border: 1px solid var(--color1); */
  box-shadow: 
    1px 0 0 0 var(--color1), 
    0 1px 0 0 var(--color1), 
    1px 1px 0 0 var(--color1),   /* Just to fix the corner */
    1px 0 0 0 var(--color1) inset, 
    0 1px 0 0 var(--color1) inset;
  background-color: #E5E5E5;
}

@media (max-width: 768px) {
  .grid-item {
    flex-basis: 50%;
  }
}

.grid.grow .grid-item {
  flex-grow: 1;
}

.ratio-box {
  height: 0;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
.ratio-box-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Home */

.filters {
  width: 100%;
  box-shadow: 
    -1px 0 0 0 var(--color1) inset, 
    0 1px 0 0 var(--color1) inset;
}

.filters-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.filters .fieldset {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 36px;
  padding: 10px;
  box-shadow: 
    1px 0 0 0 var(--color1), 
    0 1px 0 0 var(--color1), 
    1px 1px 0 0 var(--color1),   /* Just to fix the corner */
    1px 0 0 0 var(--color1) inset, 
    0 1px 0 0 var(--color1) inset;
}

@media (max-width: 768px) {
  .filters .fieldset {
    min-height: var(--mobileButtonHeight);
    height: auto;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.filters .fieldset-search {
  padding: 0;
}

.fieldset-label {
  font-size: 10px;
  margin-right: 10px;
}

.fieldset-search {
  position: relative;
}

.fieldset-search .search-submit {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: var(--mobileButtonHeight);
  height: var(--mobileButtonHeight);
  padding: 15px 10px 15px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fieldset-search .icon-search {
  width: 100%;
  height: 100%;
}

.fieldset-search .icon-search circle,
.fieldset-search .icon-search line {
  stroke: #00f;
}

.search-input {
  width: 100%;
  max-width: 20vw;
  height: 100%;
  padding: 10px;
  background-color: transparent;
  transform: translateY(1px);
}

.search-submit,
.search-input {
  transition: background .1s var(--ease);
}

@media (max-width: 768px) {
  .fieldset-search {
    width: 100%;
  }

  .search-input {
    width: 100%;
    max-width: calc(100% - var(--mobileButtonHeight) - 20px);
    height: calc( var(--mobileButtonHeight) + 20px);
  }

  .fieldset-search .search-submit {
    width: calc( var(--mobileButtonHeight) + 20px);
    height: calc( var(--mobileButtonHeight) + 20px);
  }
}

@media (min-width: 1400px) {
  .search-input {
    max-width: 200px;
  }  
}

.search-input:focus,
.search-input:hover {
  outline: 0;
  color: #fff;
  background-color: var(--color1);
}

.search-input:focus ~ .search-submit,
.search-input:hover ~ .search-submit {
  background-color: var(--color1);
}  

@media (max-width: 768px) {
  .search-input:focus ~ .search-submit circle,
  .search-input:focus ~ .search-submit line,
  .search-input:hover ~ .search-submit circle,
  .search-input:hover ~ .search-submit line {
    stroke: #fff;
  }  
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  padding: 20px 30px 30px 30px;
}

.item-image {
  width: 100%;
  border: 0 solid black;
  transition: border .1s var(--ease);
}

.item:focus .item-image,
.item:hover .item-image {
  border-width: 8px;

}

.item-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.page-title-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  box-shadow: 
    1px 0 0 0 var(--color1), 
    0 1px 0 0 var(--color1), 
    1px 1px 0 0 var(--color1),   /* Just to fix the corner */
    1px 0 0 0 var(--color1) inset, 
    0 1px 0 0 var(--color1) inset;
}

.page-title-flag {
  width: 320px;
  height: 260px;
  padding: 10px;
  box-shadow: 
    1px 0 0 0 var(--color1), 
    0 1px 0 0 var(--color1), 
    1px 1px 0 0 var(--color1),   /* Just to fix the corner */
    1px 0 0 0 var(--color1) inset, 
    0 1px 0 0 var(--color1) inset;
}

.page-title {
  padding: 10px 30px;
  font-size: 30px;
  line-height: 1;
  transform: translate(-2px, 1px);
}

/* Single */

.single-layout {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.single-layout .grid-item {
  flex-basis: 50%;
  flex-shrink: 0;
}

.single-layout .sidebar {
  /* flex-basis: 25%; */
  flex-grow: 1;
}

.srp-box {
  box-shadow: 
    1px 0 0 0 var(--color1), 
    0 1px 0 0 var(--color1), 
    1px 1px 0 0 var(--color1),   /* Just to fix the corner */
    1px 0 0 0 var(--color1) inset, 
    0 1px 0 0 var(--color1) inset;
}

.srp-box-header {
  line-height: 1;
  padding: 10px;
  box-shadow: 
    1px 0 0 0 var(--color1), 
    0 1px 0 0 var(--color1), 
    1px 1px 0 0 var(--color1),   /* Just to fix the corner */
    1px 0 0 0 var(--color1) inset, 
    0 1px 0 0 var(--color1) inset;
}

.srp-box-header .text {
  transform: translate(-2px, 1px);
}

.srp-box-content {
  padding: 20px 10px;
  box-shadow: 
    1px 0 0 0 var(--color1), 
    0 1px 0 0 var(--color1), 
    1px 1px 0 0 var(--color1),   /* Just to fix the corner */
    1px 0 0 0 var(--color1) inset, 
    0 1px 0 0 var(--color1) inset;
}

.srp-box-content:not(.pre) {
  font-family: var(--bodyFont);
}

.single-layout pre {
  color: var(--color1Light);
  padding: 30px 10px;
  background-color: var(--color1Dark);
}

.spec-title {
  font-weight: bold;
}

.colors {
  display: inline-flex;
}

.color {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  height: 15px;
  font-family: var(--titleFont);
  font-size: 10px;
  line-height: 1;
  border-width: 1px;
  border-style: solid;
  margin-right: 5px;
}

.color-swatch {
  display: inline-block;
  margin-right: 2px;
  width: 15px;
  height: 15px;
}

.color-label {
  padding: 0 2px;
}

.flags-all {
  position: relative;
  width: 100%;
  height: 100%;
}

.flags-all .flag {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.flags-all circle,
.flags-all path {
  fill: transparent;
  stroke-width: 1%;
}